.painel{
    width:1000px;
    border:1px solid black;
    border-radius:5px;
    height:800px;
    margin:auto;
    box-shadow: 2px 2px 10px;
    background-color: rgb(83, 76, 76);


}
.jogo{
    margin:15px;
    background-color: black;
    color:aliceblue

}
.quadrado{
    width:200px;
    height:200px;
    background-color: aliceblue;
    font-size:150px;
    text-align:center;
}